<section id="presentations">
  <div class="container">
    <div class="row text-center">
      <h2 class="section-heading">Presentations </h2>
      <h3 class="section-subheading text-muted">{{site.data[site.language].linksSubheading}}</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 text-center">
      <a class='eventTitle' href="https://doi.org/10.5281/zenodo.2328928">Sarah Stolle - From PhD to Data Scientist </a> <a href="https://doi.org/10.5281/zenodo.2328928"><img src="https://zenodo.org/badge/DOI/10.5281/zenodo.2328928.svg" alt="DOI"></a>
      <div class="eventSub">A presentation by Sarah Stolle on her recent transition from PhD student to Data Scientist in industry (December 4, 2018)</div>
      <br>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 text-center">
      <a class='eventTitle' href="https://doi.org/10.5281/zenodo.2328660">Daphné van Beek - Data Stewardship Best Practices  </a> <a href="https://doi.org/10.5281/zenodo.2328660"><img src="https://zenodo.org/badge/DOI/10.5281/zenodo.2328660.svg" alt="DOI"></a>
      <div class="eventSub">A presentation by Daphné van Beek, data steward at the Utrecht UMC on Data Stewardship and Data Management (April 7, 2018)</div>
      <br>
    </div>
  </div>

    <div class="row">
    <div class="col-lg-12 text-center">
      <a class='eventTitle' href="https://doi.org/10.5281/zenodo.2561849">Marc Galland - Homo Biologicus Informaticus </a> <a href="https://doi.org/10.5281/zenodo.2561849"><img src="https://zenodo.org/badge/DOI/10.5281/zenodo.2561849.svg" alt="DOI"></a>
      <div class="eventSub">A presentation by Marc Galland on what the future life scientist should know regarding scientific programming, data analysis and management. (February 11, 2019)</div>
      <br>
    </div>
  </div>
</section>
