<section id="schedule">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{{site.data[site.language].eventsHeading}}</h2>
                    <h3 class="section-subheading text-muted">{{site.data[site.language].eventsSubheading}}</h3>
                </div>
            </div>
            <div class="row">
                  <div class="col-lg-12 text-center">
                  	<iframe src="https://calendar.google.com/calendar/embed?title=Amsterdam%20Science%20Park%20Study%20Group&amp;showCalendars=0&amp;height=600&amp;wkst=2&amp;hl=en_GB&amp;bgcolor=%23ffffff&amp;src=amsterdamscienceparkstudygroup%40gmail.com&amp;color=%231B887A&amp;ctz=Europe%2FAmsterdam" style="border-width:0" width="1200" height="600" frameborder="0" scrolling="no"></iframe>
                  </div>
            </div>
        </div>
</section>

